footer
  .layout
    .container
      .row
        .contact
          h1 Liên hệ với chúng tôi 
          i.fas.fa-map-marker-alt
            p Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P.Cống Vị, Q. Ba Đình, Hà Nội
          i.fas.fa-phone-alt
            p (04) 6674 2332
          i.fas.fa-blender-phone
            p (04) 3786 8904
          i.fas.fa-phone-alt
            p (08) 6680 9686
          i.fas.fa-envelope
            p Support@bizweb.vn
        .list
          h1 Chuyển hàng
          ul
            for n in dropdownFooter1
              li=n
        .list
          h1 Hỗ trợ
          ul
            for n in dropdownFooter2
              li=n
        .list
          h1 Thông tin
          ul
            for n in dropdownFooter3
              case n 
                when "Về chúng tôi"
                  li
                    a(href="../aboutUs/aboutUs.html")=n
                default 
                  li=n
        .list
          h1 My account
          ul
            block li
              for n in dropdownFooter4
                li=n
  .container
    .footer__bottom
      p © Copyright 2008-2014 DKT Technology JSC
      .footer__bottom__pay
              