mixin customTable(metadata)
  tr
    for n in metadata
      td
        a(href="#")=n

mixin customCart(metadata)
  .cart
    .cart__image
    .cart__content
      p.cart__content__title=metadata.title
      p.cart__content__money=metadata.money
        sup đ
    i.fas.fa-times

mixin customSale(metadata)
  .col
    .col__icon
    p=metadata

mixin customImage
  .col
    .image
      .image__layout
        .image__layout__icon

mixin customProducts(metadata)
  .product__image
  .product__detail
    h2=metadata.title
    h3=metadata.content
    i=metadata.price
      sup đ
    i=metadata.sale
      sup đ
  .product__action
    span MUA HÀNG
    i.fas.fa-heart
    i.fas.fa-sync-alt

mixin customProduct
  .product
    .product__image
    .product__detail
      h1 Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới 
      .product__detail__icon 
        i.fas.fa-heart
        i.fas.fa-heart
        i.fas.fa-heart
        i.fas.fa-heart
        i.fas.fa-heart
        p (4 lượt mua)
      p.product__detail__description Tự hào là năm mà Tiffany & Co là
        br/ thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với 
        br/ qua trong khi thể hiện một cảm giác hiện đại và kiểu dáng đẹp 
        br/ đường cong và đường nét mượt mà.
      h2 355.000
        sup đ
      .product__action
        span MUA HÀNG
        i.fas.fa-heart
        i.fas.fa-sync-alt 

mixin customDetailOne
  .content__detail
    .content__detail__description
      h2 The mark of a legend
      p Tự hào được ghi là năm mà Tiffany & Co là
        br/ thành lập, bộ sư tập mang tính biểu tượng này cung cấp cho một cái gật đầu với 
        br/ quan trọng khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp 
        br/ đường cong và đường nét mượt mà 
    .content__detail__image

mixin customDetailTwo
  .content__detail
    .content__detail__image
    .content__detail__description
      h2 The mark of a legend
      p Tự hào được ghi là năm mà Tiffany & Co là
        br/ thành lập, bộ sư tập mang tính biểu tượng này cung cấp cho một cái gật đầu với 
        br/ quan trọng khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp 
        br/ đường cong và đường nét mượt mà 

mixin listProduct 
  .product 
    .product__image
    .product__detail
      h2 Mỹ phẩm châu Âu
      .product__detail__icon 
        i.fas.fa-heart
        i.fas.fa-heart
        i.fas.fa-heart
        i.fas.fa-heart
        i.fas.fa-heart
        p (4 lượt mua)   
      h3 355.000đ  

mixin customTable
  tr 
    td 
    td Lắc tay D&G 
    td 345.000
      sup đ 
    td
      span 1 
    td 345.000
      sup đ 
    td 
      i.fas.fa-trash-alt